---
import Iconify from "@components/iconify/iconify.astro";
import { Icons } from "@components/iconify/icons";

const base = Astro.site ? Astro.site : "";
---

<section
  id="unete"
  class="h-svh md:h-screen snap-start w-full flex flex-col items-center text-center bg-gradient-to-b from-primary dark:from-primary/90 to-base-100 py-12"
>
  <div
    class="flex flex-col lg:flex-row items-center justify-center gap-5 flex-1 overflow-hidden py-10"
  >
    <div class="max-w-xl flex flex-col gap-6">
      <h2 class="text-4xl md:text-5xl font-bold text-accent">
        🎓 Explora Nuestros Cursos
      </h2>
      <p class="text-base md:text-lg text-accent/80">
        Aprende nuevas habilidades, mejora tu carrera y conéctate con una
        comunidad apasionada por el conocimiento.
      </p>
      <div>
        <a href={`${base}cursos`} class="btn btn-secondary">Ver Cursos</a>
      </div>
    </div>

    <!-- TODO: Use content of a course -->
    <div class="mockup-phone flex-1 md:scale-75">
      <div class="mockup-phone-camera"></div>
      <div class="mockup-phone-display">
        <img src="https://i.imgur.com/8CKpXFg.png" alt="imagen-cursos" />
      </div>
    </div>
  </div>

  <!-- TODO: Refactor social links -->
  <div class="max-w-lg w-full">
    <a
      role="alert"
      class="alert cursor-pointer shadow-2xl"
      href="https://t.me/+Q7bDD2HZXnUyZTRh"
      target="_blank"
    >
      <div
        class="bg-gradient-to-b from-blue-400 to-blue-800 rounded-full p-1.5"
      >
        <Iconify icon={Icons.TELEGRAM} class="text-2xl text-white" />
      </div>
      <span
        >Únete a nuestro <span class="font-bold">canal de Telegram</span> para recibir
        noticias y próximos lanzamientos.</span
      >
      <button class="btn bg-blue-400"> Unirme </button>
    </a>
  </div>
</section>
