---
import Blog from "@layouts/blog.astro";
import { cursosRoutes } from "src/routes/routes";

export function getStaticPaths() {
  const routes = cursosRoutes;

  return routes;
}

const { slug } = Astro.params;

const base = Astro.site?.pathname;
const site: URL | string = Astro.site ? Astro.site : "";
---

<Blog>
  <div>Good dog, {slug}!</div>
  <div>{base} {JSON.stringify(site)}</div>
  <slot />
</Blog>
