@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(16.84% 0 0);
  --color-base-300: oklch(23.5% 0 0);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(64.05% 0.2 306.75);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(72.37% 0.149 49.18);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(96% 0.007 247.896);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

.md-content {
  @apply text-accent/70 bg-base-200 px-10 py-3 rounded-xl;

  /* Headings */
  @apply [&>h1]:my-10! [&>h1]:text-accent;
  @apply [&>h2]:text-accent/90;
  @apply [&>h3]:text-accent/80;
  @apply [&>h4]:text-accent/70;
  @apply [&>h5]:text-accent/60;
  @apply [&>h6]:text-accent/50;
  @apply [&>h1,h2]:text-3xl [&>h3]:text-2xl [&>h4]:text-xl [&>h5]:text-lg [&>h6]:text-base;
  @apply [&>h1,h2,h3,h4,h5,h6]:font-bold [&>h1,h2,h3,h4,h5,h6]:my-4 md:[&>h1,h2,h3,h4,h5,h6]:my-10;

  /* Gradient for H1 */
  @apply [&>h1]:underline;

  /* HR */
  @apply [&>hr]:border-none;

  /* Lists */
  @apply [&>ul]:list-[square] [&>ul]:list-inside [&>ul>li>ul]:list-[square] [&>ul>li>ul]:list-inside;
  @apply [&>ul,ol]:marker:text-primary;
  @apply [&>ul>li>a]:underline [&>ul>li>a]:italic!;
  @apply [&>ul>li>ul>li]:indent-4;
  @apply [&>ol]:list-decimal [&>ol]:list-inside [&>ol>li>ol]:list-decimal [&>ol>li>ol]:list-inside;
  @apply [&>ol>li>ol>li]:indent-4;

  /* Links */
  @apply [&>p>a]:italic [&>p>a]:underline [&>p>a]:hover:text-neutral-400 [&>ul>li,ol>li,p>a]:text-neutral-200;

  /* Inline code */
  @apply [&>p>code]:bg-base-100 [&>p>code]:text-primary [&>p>code]:text-sm [&>p>code]:px-1.5 [&>p>code]:py-1 [&>p>code]:rounded-md;

  /* Code blocks */
  @apply [&>pre]:mockup-code [&>pre]:p-3 [&>pre]:my-3 [&>pre]:rounded-md [&>pre]:text-xs;
  @apply [&>pre>code]:text-sm;

  /* Blockquotes & tables */
  @apply [&>blockquote]:border-l-2 [&>blockquote]:border-l-primary [&>blockquote]:text-sm;
  @apply [&>blockquote,table]:p-3 [&>blockquote,table]:my-3;
  @apply [&>table]:w-full [&>table>thead]:bg-base-200 [&>table>thead>tr>th]:py-2 [&>table>tbody>tr>td]:py-0.5;

  /* Images */
  @apply [&>p>img]:rounded-md [&>p>img]:my-3 [&>p>img]:w-full [&>p>img]:max-w-3xl [&>p>img]:bg-white;
  @apply [&>p>a>img]:rounded-md [&>p>a>img]:my-3 [&>p>a>img]:border-2 [&>p>a>img]:border-transparent [&>p>a>img]:hover:border-primary;

  /* BR */
  @apply [&>hr]:divider [&>br,hr]:my-8;

  /* IFrames */
  @apply [&>iframe]:w-full [&>iframe]:max-h-60 md:[&>iframe]:max-h-96 [&>iframe]:my-3 [&>iframe]:rounded-md [&>iframe]:bg-base-200;
}

/* Centrar imágenes dentro de <p> o <a> */
.blog p:has(img),
.blog p > a:has(img) {
  @apply flex justify-center items-center my-2;
}
