---
import Blog from "@layouts/blog.astro";

export function getStaticPaths() {
  return [
    { params: { dog: "clifford" } },
    { params: { dog: "rover" } },
    { params: { dog: "spot" } },
  ];
}

const { dog } = Astro.params;

const base = Astro.site?.pathname;
const site: URL | string = Astro.site ? Astro.site : "";
---

<Blog>
  <div>Good dog, {dog}!</div>
  <div>{base} {JSON.stringify(site)}</div>
</Blog>
