---

---

<div
  class="bg-[url(/assets/banner.svg)] bg-no-repeat bg-size-[auto_600px] md:bg-size-[auto_800px] lg:bg-contain min-h-svh md:min-h-screen bg-top flex items-center justify-center"
>
  <div
    class="w-full flex flex-col justify-center items-center gap-5
         bg-[url(/assets/blob.svg)] bg-no-repeat bg-center bg-size-[auto_380px] md:bg-contain py-52 md:py-64 float-blob"
  >
    <div
      class="w-full max-w-sm md:max-w-lg flex flex-col items-center gap-3 px-2"
    >
      <h1 class="text-3xl lg:text-5xl font-bold text-neutral/85 text-center">
        Aprende Desarrollo Web con Nosotros
      </h1>
      <p class="text-center max-w-md text-neutral/65 text-sm lg:text-base">
        Un grupo de estudio donde compartimos conocimientos, practicamos con
        proyectos reales y nos ayudamos a crecer como desarrolladores.
      </p>
    </div>
    <a href="#contact" class="btn btn-outline btn-secondary"> Únete ahora</a>
  </div>
</div>

<style>
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  .float-blob {
    animation: float 6s ease-in-out infinite;
  }
</style>
