---

---

<div
  id="preguntas"
  class="snap-start w-full px-5 py-20 md:px-10 flex flex-col items-center justify-start gap-8"
>
  <div class="w-full max-w-6xl flex flex-col gap-9">
    <h3 class="text-4xl font-bold">Preguntas Frecuentes</h3>
    <div class="flex flex-col gap-2">
      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" checked="checked" />
        <div class="collapse-title font-semibold">
          ¿Los cursos tienen algún costo?
        </div>
        <div class="collapse-content text-sm">
          No, todos los cursos son <span class="font-bold text-primary"
            >completamente gratuitos</span
          >. El único requisito es contar con una <span
            class="font-bold text-primary">computadora o laptop</span
          >.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Dónde se realizan las actividades?
        </div>
        <div class="collapse-content text-sm">
          La mayoría de las clases, cursos y talleres se llevan a cabo en la <span
            class="font-bold text-primary"
            >carrera de Informática de la UMSA</span
          >.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Los cursos son presenciales o virtuales?
        </div>
        <div class="collapse-content text-sm">
          La mayoría de las actividades son <span class="font-bold text-primary"
            >presenciales</span
          >, aunque también transmitimos nuestros cursos a través de <span
            class="font-bold text-primary">Twitch</span
          >.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Cuáles son los horarios de los cursos?
        </div>
        <div class="collapse-content text-sm">
          Los horarios y fechas se publican oportunamente en nuestras <span
            class="font-bold text-primary">redes sociales</span
          >.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Cómo puedo formar parte del grupo?
        </div>
        <div class="collapse-content text-sm">
          No existe un proceso formal de inscripción. Puedes asistir a cualquier
          curso y serás siempre <span class="font-bold text-primary"
            >bienvenido</span
          >. La participación en clases no es obligatoria para ser parte del
          grupo.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Se entregan certificados al finalizar los cursos?
        </div>
        <div class="collapse-content text-sm">
          No entregamos certificados oficiales, pero puedes obtener <span
            class="font-bold text-primary">reconocimiento interno</span
          > por tu participación y avances en los cursos.
        </div>
      </div>

      <div class="collapse bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-1" />
        <div class="collapse-title font-semibold">
          ¿Necesito experiencia previa para participar?
        </div>
        <div class="collapse-content text-sm">
          No, los cursos están diseñados para que cualquier persona pueda <span
            class="font-bold text-primary"
            >aprender y mejorar sus habilidades</span
          >, independientemente de su experiencia previa en desarrollo web.
        </div>
      </div>
    </div>
  </div>
</div>
