---
const site = import.meta.env.PUBLIC_SITE;
const base = import.meta.env.PUBLIC_BASE;
const site2 = Astro.site;
const path = Astro.site?.pathname;
---

<div>
  <ul>
    <li><a class="link" href="dogs/clifford">Link1</a></li>
    <li><a class="link" href="dogs/rover">Link2</a></li>
    <li><a class="link" href="dogs/spot">Link3</a></li>
    <li><a class="link" href="dogs/curso-d">Link4</a></li>
    <li><a class="link" href="dogs/curso-e">Link5</a></li>
    <li><a class="link" href="dogs/curso-f">Link6</a></li>
    <li><a class="link" href="dogs/curso-g">Link7</a></li>
    <li><a class="link" href="dogs/curso-h">Link8</a></li>
  </ul>
  <p>Site: {site}</p>
  <p>Base: {base}</p>
  <p>Site2: {site2}</p>
  <p>Path: {path}</p>
</div>
